<div class="page-header">
  <h1>
    <img class="gravatar" src="<%= gitUser.avatar_url %>"/>
    <small>Github statistics for </small><%= username %> (<%= gitUser.name %>)</h1>
</div>
<div class="row col-md-12">
<% for(var i=0; i< properties.stats.length; i++) {%>
  <% if (properties.stats[i].lines>0) { %>
   <div class="col-md-2">
    <div class="thumbnail">
      <div class="caption">
        <i style="font-size:4em" class="icon-<%= properties.stats[i].icon %>"></i>
        <h3><%= properties.stats[i].language %></h3>
        <p>
        <%= properties.stats[i].lines %></p>
      </div>
    </div>
  </div>
  <% } %>
<% } %>
</div>
